
<footer class="page-footer grey">
  <div class="row">
    <div class="col s5">
      <div class="col s12">
        <h5 class= "center black-text container">Equipe</h5>
        <ul class="collapsible black-text" data-collapsible="accordion">
     <li>
       <div class="collapsible-header black-text"><i class="material-icons">work</i>Administração</div>
       <div class="collapsible-body white"><span>David da Silva Souza<br>Emanuel Soares Albuquerque<br>Jaqueline Izabel Coelho
                                              <br>Kelvia Lopes Pereira de Araújo<br>Maria Janaina Leandro da Silva</span></div>
     </li>
     <li>
       <div class="collapsible-header black-text"><i class="material-icons">important_devices</i>Sistemas de Informação</div>
       <div class="collapsible-body white"><span>Ismael Barbosa Ferreira</span></div>
     </li>
   </ul>
      </div>

    </div>
    <div class="col s4 center ">
      <h5 class= "black-text container center ">Parceiros</h5>
      <div>
        <h6 class="btn btn-large waves-effect waves-light black-text  white">Parceiro 1</h6>
      </div>
      <div>
        <h6 class="btn btn-large waves-effect waves-light black-text  white">Parceiro 1</h6>
      </div>
    </div>
    <div class=" center col s3">
        <h5 class= "black-text  container ">Redes sociais</h5>
        <div>
          <h6 class="waves-effect waves-light btn-large blue">Facebook</h6>
        </div>
        <div>
          <h6 class="btn btn-large waves-effect waves-light blue">instagram</h6>
        </div>



	</div>
</div>
    </div>
  </div>

<div class="footer-copyright">
<div class="container center">
© 2017 REPÚBLICA ESTUDANTIL CARIRI, Todos Direitos Reservados.
</div>
</div>
</footer>
