
<footer class="page-footer grey">
  <div class="row ">
    <div class="col s12">
      <div class="col s5 center ">
        <h5 class= "center black-text container">Equipe</h5>
        <ul class="collapsible black-text" data-collapsible="accordion">
     <li class="center">
       <div class="collapsible-header black-text center">Sistemas fe Informações FAP-CE</div>
       <div class="collapsible-body white"><span>Cícero Akiles Paulino Olinda<br>Ramon Felizardo da Costa
                                                <br>Ismael Barbosa Ferreira</span></div>
     </li>
       </ul>
      </div>

	</div>
</div>
    </div>
  </div>

<div class="footer-copyright">
<div class="container center">
© 2017 Todos Direitos Reservados.
</div>
</div>
</footer>
