<nav class="orange darken-3 lighten-1" role="navigation">
  <div class="nav-wrapper container ">
    <li class="brand-logo" >Sua Loja</li>
    <ul class="right hide-on-med-and-down center ">
      <li><%= link_to 'Sua Loja', home_index_path %></li>
      <li><%= link_to 'Page', home_landing_path %></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
