<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <li class="brand-logo responsive-img"> ><img src="/assets/Republica.png"><img class="responsive-img" src="#"></li>
    <!-- <div class="parallax"><img src="/assets/Republica.png"></div> -->
    <ul class="right hide-on-med-and-down">


      <li><%= link_to 'A República', home_landing_path %></li>
      <li><%= link_to 'Landign Page', home_landing_path %></li>
      <li><%= link_to 'Contatos', contacts_path %></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
