<div class="center">
<div class="col s10 m8">
  <div class="card-panel orange ">
    <h3 class="white-text center">Missão</h3>
    <h5 class="white-text"><i class="material-icons">check_circle</i>Ética</h5></li>
    <h5 class="white-text"><i class="material-icons">check_circle</i>Qualidade</h5></li>
    <h5 class="white-text"><i class="material-icons">check_circle</i>Responsabilidade com o cliente</h5>
  </div>
</div>
</div>
