<%= render 'home/navbar' %>
<div class="row ri">
  <div class="col l4 offset-l4 s12">
    <h1>Nova contato</h1>
<%= render 'form', contact: @contact %>
<%= link_to 'Back', contacts_path %>
</div>
</div>
